<div>
  <div class="video-outer">
    <div class="video-wrapper">
      <div class="hero-text">
        <div class="title-wrapper">
          <h1><a href="/">Jones & Wilkinson Ltd</a></h1>
        </div>
        <div class="contact-wrapper">
          <div class="contact-details">
            <a class="contact-label" href="/contact">Contact us</a>
            <a href="mailto:sales@jonesandwilkinson.co.uk">sales@jonesandwilkinson.co.uk</a>
            <a href="tel:+44 1922 475444">+44 1922 475444</a>
          </div>
        </div>
        <h2>
          Zinc Diecasting
        </h2>
        <h2 class="italic">
          From concept to completion
        </h2>
        <div class="mobile-contact-wrapper">
          <div class="contact-details">
            <a class="contact-label" href="/contact">Contact us</a>
            <a href="mailto:sales@jonesandwilkinson.co.uk">sales@jonesandwilkinson.co.uk</a>
            <a href="tel:+44 1922 475444">+44 1922 475444</a>
          </div>
        </div>
      </div>
      <video src="/img/robot.mp4" muted autoplay loop playsinline></video>
    </div>
  </div>
  <section class="services">
    <div class="services-wrapper">
      <a href="/services/diecast-machining" class="floating-card-wrapper">
        <div class="floating-card-contents">
          <div id="diecasting-service" class="card-image">
          </div>
          <div class="card-text-wrapper">
            <h3>Diecast Machining</h3>
            <p>
              Using the latest diecasting technology we are able to reproduce quality castings in batches from 1000 to 5,000,000
            </p>
          </div>
        </div>
      </nuxt-link>
      <a href="/services/toolmaking" class="floating-card-wrapper">
        <div class="floating-card-contents">
          <div id="toolmaking-service" class="card-image">
          </div>
          <div class="card-text-wrapper">
            <h3>Toolmaking</h3>
            <p>
              Complete with 3D CAD/CAM we produce all impression work in our own dedicated toolroom
            </p>
          </div>
        </div>
      </a>

      <a href="/services/secondary-operations" class="floating-card-wrapper">
        <div class="floating-card-contents">
          <div id="secondary-service" class="card-image">
          </div>
          <div class="card-text-wrapper">
            <h3>Secondary operations</h3>
            <p>
              Tapping, drilling, CNC machining, barrelling and auto-shot blasting
            </p>
          </div>
        </div>
      </a>

      <a href="/services/assembly" class="floating-card-wrapper">
        <div class="floating-card-contents">
          <div id="assembly-service" class="card-image">
          </div>
          <div class="card-text-wrapper">
            <h3>Assembly</h3>
            <p>
              Assembly of finished parts including powder coat, polishing and plating - all sourced locally
            </p>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="about-section">
    <div class="section-inner">
      <h2>Who we are</h2>
      <div class="flex-wrapper">
        <div class="about-item">
          <p>Jones & Wilkinson Ltd, celebrating 50 years of engineering excellence, continue to have the knowledge, experience and facilities to help customers plan, design, and produce top quality tools and castings.</p>
          <p>We currently operate from three units in Ezekiel lane, concentrating on Die Casting, Tool making, CNC machining and Assembly. The move into the third of these units, in late 2014, helped facilitate new processes to enhance current quality procedures.</p>
        </div>
        <div class="about-item image">
          <img style="max-height: 250px;" src="/img/AndyRob.jpg">
          <p class="caption">Andy and Rob Wilkinson</p>
        </div>
      </div>
    </div>
  </section>

  <section class="news-section">
    <h2>Latest news</h2>
    <div class="news-wrapper">
      <div class="flex-wrapper">
        {{#latestPosts}}

          <div class="news-item">
            <a href="{{ this.url }}">
              <div class="news-img-wrapper">
                <div class="news-date">
                  <span class="date-day">{{ this.date.day }}</span>
                  <span class="date-month">{{ this.date.month }}</span>
                </div>
                <img src="{{ this.image }}">
              </div>
              <div class="news-item-header">
                <h3>{{ this.title }}</h3>
              </div>
              <p>{{ this.excerpt }}</p>
              <a class="read-more">
                <span>Read more</span>
              </a>
            </a>
          </div>

        {{/latestPosts}}

        <a href="blog.jonesandwilkinson.co.uk" class="view-news">
          <h2>View more</h2>
        </a>
      </div>
    </div>
  </section>
</div>